{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block body %}
{% block content %}
<div class="main-col"><!-- main-col -->
				<div class="top">
					<div class="col-content">
						<div class="results-wrap">
							<div class="results-tabble-wrap">
								<table class="results-tabble">
									<thead>
										<tr>
											<td>{{ "full_results.name"|trans }}</td>
											<td>{{ "full_results.date"|trans }}</td>
											<td>{{ "full_results.result balls"|trans }}</td>
											<td>{{ "full_results.bonus balls"|trans }}</td>
										</tr>
									</thead>
									<tbody>
                                                                        {% for res in fullResults %}
										<tr>
											<td>{{ res.lottoDraw.lottoTime.lottoType.translate(locale).title }}</td>
											<td>{{ res.updated|date }}</td>
											<td>
												<div class="ball-line-wrap">
                                                                                                {% for ball in res.result %}
							    					<div class="ball-item-line">{{ ball }}</div>
                                                                                                {% endfor %}
							    				</div>
											</td>
											<td>
												<div class="ball-line-wrap">
                                                                                                {% for bonus_ball in res.bonusResult %}
							    					<div class="ball-item-line">{{ bonus_ball }}</div>
                                                                                                {% endfor %}
							    				</div>
											</td>
										</tr>
                                                                         {% endfor %}
									</tbody>
								</table>
							</div>
                                                        
                                                        {{ paginator|raw }}
                                                        
						</div>
					</div>
				</div>
				<div class="bottom"></div>
			</div><!-- .main-col -->
{% endblock %}
{% endblock %}
