{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block body %}
{% block content %}
<div class="main-col"><!-- main-col -->
				<div class="top">
					<div class="col-content">
						<div class="banner">
                                                    <img src="{{ asset( "bundles/qwerlottofrontend/content/banner.png") }}" alt="">
							<div class="banner-text">
								<div>{{ "full_shcedule.schedule"|trans }}</div>
								<div>{{ "full_shcedule.schedule_descr"|trans }}</div>
							</div>
						</div>
						<p>
							Наша лотерея Расписание объединяет все ничьи, мы предлагаем на рынке, включая ирландские лотереи, Великобритания, 49, в Euro Millions и многое другое, все под одной крышей! Наша лотерея Расписание объединяет все ничьи, мы предлагаем на рынке, включая ирландские лотереи, Великобритания, 49, в Euro Millions и многое другое, все под одной крышей!
						</p>
						<p>
							Благодаря даты и вне раза за ничью каждой лотерее, вы сможете получить ваши ставки на времени, каждый раз, когда на qqqqq.com!
						</p>
						<div class="schedule-wrap">
							<table class="schedule">
								<thead>
									<tr>
                                                                                {% set nowDate = "now"|date("w")  %}
										<td colspan="2">{{ "full_shcedule.country"|trans }}</td>
										<td {% if 1 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.mon"|trans }}</td>
										<td {% if 2 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.tue"|trans }}</td>
										<td {% if 3 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.wed"|trans }}</td>
										<td {% if 4 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.thu"|trans }}</td>
										<td {% if 5 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.fri"|trans }}</td>
										<td {% if 6 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.sut"|trans }}</td>
										<td {% if 7 == nowDate %} class="dotw_top"{% endif %}>{{ "full_shcedule.sun"|trans }}</td>
									</tr>
								</thead>
                                                                
                                                                {% for country in countries %}
								<tbody>
                                                                    {% set foo = 1 %}
                                                                    {% for type in country.lottoTypes %}
									<tr>
                                                                            {% if foo %}
										<td rowspan="{{ country.lottoTypes | length }}"> 
											
                                                                                    <span><i style="margin-left:45%;position:static;"class="{{ country.code|upper }}"></i>{{ country.translate(locale).title }}</span>
										</td>
                                                                                {% set foo = 0 %}
                                                                            {% endif %}
                                                                                
                                                                                <td><a href="{{ path('index_lotto', {'id': type.id}) }}?token={{ app.request.session.get('token') }}">{{ type.translate(locale).title }}</a></td>
                                                                                {% for i in range(1,7) %}
                                                                                <td {% if i == nowDate %} class="dotw"{% endif %}>
                                                                                    {% for time in type.lottoTimes %}
                                                                                        {% if i in time.days %}
                                                                                            {{time.time|date("H:i")}}<br>
                                                                                        {% else %}
                                                                                            <br />
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                 </td>
                                                                                {% endfor %}										   
									</tr>
                                                                       
                                                                                {% endfor %}
									
								</tbody>
                                                                {% endfor %}
								
							</table>
						</div>
					</div>
				</div>
				<div class="bottom"></div>
			</div><!-- .main-col -->
{% endblock %}
{% endblock %}
