{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block javascript %}

<script>
    var token = '{{ app.request.session.get('token') }}';
</script>
{{ parent() }}
{% endblock %}
{% block body %}
{% block content %}
<style>
        .ui-widget-content a {
            color: white;
        }
    </style>
    <div class="top">
        <div>
        {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:FormulaBlock')) }}
        </div>
        <div class="col-content">
                        {% block slider %}
                                <div class="slide-block">
                                        <div class="slide-controll">
                                                <span>Свернуть</span>
                                                <a href="#"></a>
                                        </div>
                                        <div class="gallery-wrap">
                                        <ul id="carousel-icons">
                                                <li class="view-label">
                                                        Change View
                                                </li>
                                                <li class="selected">
                                                        <a href="#" class="scrollicon" title="Scrolling Image View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon gridview" title="Image Grid View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon listview" title="Text List View"></a>
                                                </li>
                                        </ul>
                                        <div id="flag_slider" class="imageflow">
                                            {% for lotto in lottery %}
                                                {% if vich_uploader_asset(lotto, 'image') %}
                                                    <img src="{{ vich_uploader_asset(lotto, 'image') }}"  longdesc="URL_{{ loop.index }}" width="205" height="210"
                                                         alt="
                                                        {% trans %}Left{% endtrans %}
                                                        {% if timeExpire[lotto.id].d > 0 %}
                                                            {% trans with {'%days%': timeExpire[lotto.id].d} %}days{% endtrans %}
                                                        {% endif %}
                                                        {% if timeExpire[lotto.id].h > 0 %}
                                                            {% trans with {'%hours%': timeExpire[lotto.id].h} %}hours{% endtrans %}
                                                        {% endif %}
                                                        {% trans with {'%minutes%': timeExpire[lotto.id].i} %}minutes{% endtrans %}
                                                    "/>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(lotto.country, 'image') }}"  longdesc="URL_{{ loop.index }}" width="205" height="210" alt="{{ timeExpire[lotto.id]|date }}"/>
                                                {% endif %}    
                                                {#<img src="{{ asset( "bundles/qwerlottofrontendcontent/flag1.png") }}" lotto="{{ lotto.title }}" longdesc="URL_1" width="205" height="210" alt="Осталось: 5 day 2 hour: 1 min" />#}
                                            {% endfor %}
                                                </div>
                                        </div>
                                </div>
                               {% endblock %}
                              {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:LottoPage')) }}
                        </div>
                    </div>
{% endblock %}
{% endblock %}
