{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block javascript %}
 
<script>
    var token = '{{ app.request.session.get('token') }}';
</script>
{{ parent() }}
{% endblock %}
{% block body %}
{% block content %}
<style>
        .ui-widget-content a {
            color: white;
        }
    </style>
    <div class="top">
        <div>
        {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:FormulaBlock', {'_locale' : locale})) }}
        </div>
        <div class="col-content">
                        {% block slider %}
                                <div class="slide-block">
                                        <div class="slide-controll">
                                                <span>{{ "index.minimize"|trans }}</span>
                                                <a href="#"></a>
                                        </div>
                                        <div class="gallery-wrap">
                                        <!--<ul id="carousel-icons">
                                                <li class="view-label">
                                                        Change View
                                                </li>
                                                <li class="selected">
                                                        <a href="#" class="scrollicon" title="Scrolling Image View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon gridview" title="Image Grid View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon listview" title="Text List View"></a>
                                                </li>
                                        </ul>-->
                                        <div id="flag_slider" class="imageflow">
                                            {% for lotto in lotterySlider %}
                                                {% if vich_uploader_asset(lotto, 'image') %}
                                                    <img src="{{ vich_uploader_asset(lotto, 'image') }}" id="startId_{{ lotto.id }}" index="{{ loop.index }}"  longdesc="{{ path('index_lotto', {'id': lotto.id}) }}?token={{ app.request.session.get('token') }}" width="45" height="60"
                                                         alt="
                                                        {{ lotto.country.translate(locale).title }}/{{ lotto.translate(locale).title }}
                                                        {% trans %}Left{% endtrans %}
                                                        {% if timeExpire[lotto.id].d > 0 %}
                                                            {% trans with {'%days%': timeExpire[lotto.id-1].d} %}days{% endtrans %}
                                                        {% endif %}
                                                        {% if timeExpire[lotto.id].h > 0 %}
                                                            {% trans with {'%hours%': timeExpire[lotto.id].h} %}hours{% endtrans %}
                                                        {% endif %}
                                                        {% trans with {'%minutes%': timeExpire[lotto.id].i} %}minutes{% endtrans %}
                                                    "/>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(lotto.country, 'image') }}" index="{{ loop.index }}"  longdesc="{{ path('index_lotto', {'id': lotto.id}) }}?token={{ app.request.session.get('token') }}" width="45" height="60"  alt="
                                                        {% trans %}Left{% endtrans %}
                                                        {% if timeExpire[lotto.id-1].d > 0 %}
                                                            {% trans with {'%days%': timeExpire[lotto.id].d} %}days{% endtrans %}
                                                        {% endif %}
                                                        {% if timeExpire[lotto.id-1].h > 0 %}
                                                            {% trans with {'%hours%': timeExpire[lotto.id].h} %}hours{% endtrans %}
                                                        {% endif %}
                                                        {% trans with {'%minutes%': timeExpire[lotto.id].i} %}minutes{% endtrans %}
                                                    "/>/>
                                                {% endif %}    
                                                {#<img src="{{ asset( "bundles/qwerlottofrontendcontent/flag1.png") }}" lotto="{{ lotto.title }}" longdesc="URL_1" width="205" height="210" alt="Осталось: 5 day 2 hour: 1 min" />#}
                                            {% endfor %}
                                                </div>
                                        </div>
                                </div>
                               {% endblock %}
                              {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:LottoPage', { 'id': id, 'index': index, '_locale': locale })) }}
                        </div>
                    </div>
{% endblock %}
{% endblock %}
