{% extends 'QwerLottoFrontendBundle::layout.html.twig' %}
{% block body %}
{% block content %}
        <div class="top">
					<div class="col-content">
                        {% block slider %}
                                <div class="slide-block">
                                        <div class="slide-controll">
                                                <span>Свернуть</span>
                                                <a href="#"></a>
                                        </div>
                                        <div class="gallery-wrap">
                                        <ul id="carousel-icons">
                                                <li class="view-label">
                                                        Change View
                                                </li>
                                                <li class="selected">
                                                        <a href="#" class="scrollicon" title="Scrolling Image View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon gridview" title="Image Grid View"></a>
                                                </li>
                                                <li>
                                                        <a href="#" class="scrollicon listview" title="Text List View"></a>
                                                </li>
                                        </ul>
                                        <div id="flag_slider" class="imageflow">
                                            {% for lotto in lottery %}
                                                {% if vich_uploader_asset(lotto, 'image') %}
                                                    <img src="{{ vich_uploader_asset(lotto, 'image') }}"  longdesc="URL_{{ loop.index }}" width="205" height="210"
                                                         alt="
                                                        {% trans %}Left{% endtrans %}
                                                        {% if timeExpire[lotto.id].d > 0 %}
                                                            {% trans with {'%days%': timeExpire[lotto.id].d} %}days{% endtrans %}
                                                        {% endif %}
                                                        {% if timeExpire[lotto.id].h > 0 %}
                                                            {% trans with {'%hours%': timeExpire[lotto.id].h} %}hours{% endtrans %}
                                                        {% endif %}
                                                        {% trans with {'%minutes%': timeExpire[lotto.id].i} %}minutes{% endtrans %}
                                                    "/>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(lotto.country, 'image') }}"  longdesc="URL_{{ loop.index }}" width="205" height="210" alt="{{ timeExpire[lotto.id]|date }}"/>
                                                {% endif %}    
                                                {#<img src="{{ asset( "bundles/qwerlottofrontendcontent/flag1.png") }}" lotto="{{ lotto.title }}" longdesc="URL_1" width="205" height="210" alt="Осталось: 5 day 2 hour: 1 min" />#}
                                            {% endfor %}
                                                </div>
                                        </div>
                                </div>
                               {% endblock %}
                               {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:nextLottoDraws')) }}
                               {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:lastResults')) }}
                                
						<div class="clear"></div>
                                                {% block lottery %}
						<h2>Irish Lottery</h2>
						<div class="ir-lotery">
							<div class="block">
								<div class="block-header">
									<div class="title">
										<span class="radio-bt"></span>
										С учетом бонусного шара
									</div>
								</div>
								<div class="block-content">
									<div class="block-overlay"></div>
									<ul>
										<li>Choose 1 number(s), get 1 correct 6 x Stake</li>
										<li>Choose 2 number(s), get 2 correct 39 x Stake</li>
										<li>Choose 3 number(s), get 3 correct 330 x Stake</li>
										<li>Choose 4 number(s), get 4 correct 4501 x Stake</li>
										<li>Choose 5 number(s), get 5 correct 50001 x Stake</li>
									</ul>
								</div>
								<div class="block-footer"></div>
							</div>
							<div class="block">
								<div class="block-header">
									<div class="title">
										<span class="radio-bt"></span>
										Без учета бонусного шара
									</div>
								</div>
								<div class="block-content">
									<div class="block-overlay"></div>
									<ul>
										<li>Choose 1 number(s), get 1 correct 6 x Stake</li>
										<li>Choose 2 number(s), get 2 correct 39 x Stake</li>
										<li>Choose 3 number(s), get 3 correct 330 x Stake</li>
										<li>Choose 4 number(s), get 4 correct 4501 x Stake</li>
										<li>Choose 5 number(s), get 5 correct 50001 x Stake</li>
									</ul>
								</div>
								<div class="block-footer"></div>
							</div>
						</div>
						
						<div class="rates"><!-- rates -->
							<div id="lucky-dips" class="blue-block">
								<div class="title">
									<div>Lucky Dips</div>
								</div>
								<div class="block-content">
									<div class="balls-g1 balls-3"></div>
									<div class="balls-g1 balls-4"></div>
									<div class="balls-g1 balls-5"></div>
									<a href="#" class="green-bt" id="clear-all">
										Clear all
									</a>
									<div class="clear"></div>
								</div>
							</div>
							<div id="select-you-balls" class="blue-block"><!-- select-you-balls -->
								<div class="title">
									<div>Select your Balls</div>
								</div>
								<div class="block-content">
									<div class="balls-container"><!-- balls-container -->
										<div class="ball-item" id="ball-1">1</div>
										<div class="ball-item" id="ball-2">2</div>
										<div class="ball-item" id="ball-3">3</div>
										<div class="ball-item" id="ball-4">4</div>
										<div class="ball-item" id="ball-5">5</div>
										<div class="ball-item" id="ball-6">6</div>
										<div class="ball-item" id="ball-7">7</div>
										<div class="ball-item" id="ball-8">8</div>
										<div class="ball-item" id="ball-9">9</div>
										<div class="ball-item" id="ball-10">10</div>
										<div class="ball-item" id="ball-11">11</div>
										<div class="ball-item" id="ball-12">12</div>
										<div class="ball-item" id="ball-13">13</div>
										<div class="ball-item" id="ball-14">14</div>
										<div class="ball-item" id="ball-15">15</div>
										<div class="ball-item" id="ball-16">16</div>
										<div class="ball-item" id="ball-17">17</div>
										<div class="ball-item" id="ball-18">18</div>
										<div class="ball-item" id="ball-19">19</div>
										<div class="ball-item" id="ball-20">20</div>
										<div class="ball-item" id="ball-21">21</div>
										<div class="ball-item" id="ball-22">22</div>
										<div class="ball-item" id="ball-23">23</div>
										<div class="ball-item" id="ball-24">24</div>
										<div class="ball-item" id="ball-25">25</div>
										<div class="ball-item" id="ball-26">26</div>
										<div class="ball-item" id="ball-27">27</div>
										<div class="ball-item" id="ball-28">28</div>
										<div class="ball-item" id="ball-29">29</div>
										<div class="ball-item" id="ball-30">30</div>
										<div class="ball-item" id="ball-31">31</div>
										<div class="ball-item" id="ball-32">32</div>
										<div class="ball-item" id="ball-33">33</div>
										<div class="ball-item" id="ball-34">34</div>
										<div class="ball-item" id="ball-35">35</div>
										<div class="ball-item" id="ball-36">36</div>
										<div class="ball-item" id="ball-37">37</div>
										<div class="ball-item" id="ball-38">38</div>
										<div class="ball-item" id="ball-39">39</div>
										<div class="ball-item" id="ball-40">40</div>
										<div class="ball-item" id="ball-41">41</div>
										<div class="ball-item" id="ball-42">42</div>
										<div class="ball-item" id="ball-43">43</div>
										<div class="ball-item" id="ball-44">44</div>
										<div class="ball-item" id="ball-45">45</div>
									</div><!-- .balls-container -->
									<div class="clear"></div>
								</div>
							</div><!-- .select-you-balls -->
							<div class="clear"></div>
							<div id="tabs">
								<ul>
								  <li><a href="#tabs-1">Straight Bets</a></li>
								  <li><a href="#tabs-2">Multiples</a></li>
								</ul>
								<div id="tabs-1">
								    <table class="straight-table">
								    	<thead>
								    		<tr>
								    			<td>Line</td>
								    			<td>Selections</td>
								    			<td>Stake</td>
								    			<td>Posible Win</td>
								    		</tr>
								    	</thead>
								    	<tbody>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" checked value=""> Line 1</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>19503.00</td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 2</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>2504.00</td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 3</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>39006.00</td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 4</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 5</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 6</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 7</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<label><input type="radio" name="line" value=""> Line 8</label>
								    			</td>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td></td>
								    		</tr>
								    	</tbody>
								    </table>
								</div>
								<div id="tabs-2">
								    <table class="multiples-select">
								    	<thead>
								    		<tr>
								    			<td>Selections</td>
								    			<td>Bet Type</td>
								    			<td>Stake</td>
								    			<td>Bets</td>
								    			<td>Total Stake</td>
								    			<td>Return</td>
								    		</tr>
								    	</thead>
								    	<tbody>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line active">1</div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line active">2</div>
								    					<div class="ball-item-line active">3</div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line active">4</div>
								    					<div class="ball-item-line active">5</div>
								    					<div class="ball-item-line active">6</div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    		<tr>
								    			<td>
								    				<div class="ball-line-wrap">
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    					<div class="ball-item-line"></div>
								    				</div>
								    			</td>
								    			<td>
								    				<select name="" id="">
								    					<option value="1">Select</option>
								    					<option value="2">Four-folds</option>
								    					<option value="3">Trebles</option>
								    					<option value="4">Doubles</option>
								    					<option value="5">Accumulator</option>
								    				</select>
								    			</td>
								    			<td>
								    				<input type="text" readonly name="" id="">
								    			</td>
								    			<td>
								    				
								    			</td>
								    			<td></td>
								    			<td></td>
								    		</tr>
								    	</tbody>
								    </table>
								</div>
							</div>
							<div class="form-bottom">
								<div class="select-fl">
									<label for="">For the Next</label>
									<select name="" id="tirazh-1">
										<option value="1">1 Тираж(а)</option>
										<option value="2">2 Тираж(а)</option>
										<option value="3">3 Тираж(а)</option>
										<option value="4">4 Тираж(а)</option>
										<option value="5">5 Тираж(а)</option>
									</select>
									<div class="clear"></div>
								</div>
								<div class="tx-fl">
									<label for="">Total Stake</label>
									<input type="text" name="" readonly id="" value="12321">
								</div>
								<div class="form-subm">
									<input type="submit" value="Сделать ставку">
								</div>
								<div class="clear"></div>
							</div>
						</div><!-- .rates -->
						{% endblock %}
					</div>
				</div>
{% endblock %}
{% endblock %}
