{% block menu %}
			<div class="left-sidebar"><!-- left-sidebar -->
				<div class="serv-bl">
					<h2><span>{{"left_menu.lotto"|trans}}</span></h2>
					<ul class="serv-list">
						<!--<li class="">
							<a href="#" title="О нас">
								<span>{{"left_menu.about"|trans}}</span>
							</a>
						</li>
						<li class="sub">
							<a href="#" title="Правила">
								<span>{{"left_menu.rules"|trans}}</span>
							</a>
							<ul>
								<li class="">
									<a href="#" title="Правила приема ставок">
										<span>{{"left_menu.rules betting"|trans}}</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="sub">
							<a href="#" title="Помощь">
								<span>{{"left_menu.help"|trans}}</span>
							</a>
							<ul>
								<li class="">
									<a href="#" title="Регистрация">
										<span>{{"left_menu.registration"|trans}}</span>
									</a>
								</li>
								<li class="">
									<a href="#)" title="Счет">
										<span>{{"left_menu.score"|trans}}</span>
									</a>
								</li>
								<li class="">
									<a href="#" title="Безопасность">
										<span>{{"left_menu.safety"|trans}}</span>
									</a>
								</li>
								<li class="">
									<a href="#" title="Платежи">
										<span>{{"left_menu.payments"|trans}}</span>
									</a>
								</li>
								<li class="">
									<a href="#" title="FAVBET TV">
										<span>FAVBET TV</span>
									</a>
								</li>
								<li class="">
									<a href="#" title="Калькулятор систем">
										<span>{{"left_menu.calculator systems"|trans}}</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="sub">
							<a href="#" title="Методы платежей">
								<span>{{"left_menu.methods of payment"|trans}}</span>
							</a>
							<ul>
								<li class="">
									<a href="#" title="Депозиты">
										<span>{{"left_menu.deposits"|trans}}</span>
									</a>
								</li>
								<li class="">
									<a href="#" title="Снятие">
										<span>{{"left_menu.removal"|trans}}</span>
									</a>
								</li>
							</ul>
						</li>-->
						
							
                                                        {% for country in countries %}
                                                                <li class="sub" >
									<a href="#">
										<span><i class="{{ country.code|upper }}"></i>{{ country.translate(locale).title }}</span>
									</a>
									<ul>
                                                                        {% for type in country.lottoTypes %}
										<li id="startLotto_{{ type.id }}">
											<a href="{{ path('index_lotto', {'id': type.id}) }}?token={{ app.request.session.get('token') }}" id="openLotto_{{ type.id }}"><span>{{ type.translate(locale).title }}</span></a>
										</li>
                                                                         {% endfor %}
									</ul>
								</li>
                                                                {% endfor %}
							
						<li class="sub">
							<a href="#" id="lotto_list">
								<span>{{"left_menu.services"|trans}}</span>
							</a>
							<ul >
                                                                <li class="">
                                                                <a href="{{ path('fullres') }}" >
                                                                        <span>{{"left_menu.results"|trans}}</span>
                                                                </a>
                                                                </li>
                                                                <li class="">
                                                                        <a href="{{ path('schedule') }}" >
                                                                                <span>{{"left_menu.schedule"|trans}}</span>
                                                                        </a>
                                                                </li>
							</ul>
						</li>
                                               
						<!--<li class="">
							<a href="#" title="Контакты">
								<span>{{"left_menu.contacts"|trans}}</span>
							</a>
						</li>
						<li class="">
							<a href="#" title="Лицензия">
								<span>{{"left_menu.license"|trans}}</span>
							</a>
						</li>
						<li class="">
							<a href="#" title="Работа">
								<span>{{"left_menu.work"|trans}}</span>
							</a>
						</li>
						<li class="">
							<a href="#" title="Партнерская программа">
								<span>{{"left_menu.affiliate program"|trans}}</span>
							</a>
						</li>
						<li class="">
							<a href="#" title="Аффилиэйт программа">
								<span>Аффилиэйт программа</span>
							</a>
						</li>-->
					</ul>
					<div class="down"></div>
				</div>
			</div><!-- .left-sidebar -->
{% endblock %}

