
                               {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:nextLottoDraws', {'_locale' : locale})) }}
                               {{ render(controller('QwerLottoFrontendBundle:FrontEndPage:lastResults', {'_locale' : locale})) }}

<div class="clear"></div>
{% block lottery %}
<script>
    var formToken = '{{ form._token.vars['value'] }}';
    var startLotto = '{%if not index%}{{ lotto.id }}{%endif%}';
    var lottoTypeId = '{{ lotto.id }}';
    </script>
    <h2>{{ lotto.country.translate(locale).title }} / {{ lotto.translate(locale).title }}</h2>
    <h3> {{ "lotto_steps.step1"|trans }}</h3>
    <div class="ir-lotery" id="withbonus">
        {% if (lotto.b1b != 0) and (lotto.b2b != 0) and (lotto.b3b != 0) and (lotto.b4b != 0) and (lotto.b5b != 0) %}
           {% set withoutBonus = 0 %} 
            
            <div class="block" name="add">
                <div class="block-header">
                    <div class="title">
                        <span class="radio-bt"></span>
                                    {{ "lotto_page.with bonus ball"|trans }}
                    </div>
                </div>
                <div class="block-content">
                    <div class="block-overlay"></div>
                    <ul>
                        <li>{% trans with {'%number1%': 1} %}lotto_page.choose{% endtrans %} {{lotto.b1b|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 2} %}lotto_page.choose{% endtrans %} {{lotto.b2b|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 3} %}lotto_page.choose{% endtrans %} {{lotto.b3b|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 4} %}lotto_page.choose{% endtrans %} {{lotto.b4b|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 5} %}lotto_page.choose{% endtrans %} {{lotto.b5b|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                    </ul>
                </div>
                <div class="block-footer"></div>
            </div>
            {% else %}
            {% set withoutBonus = 1 %}
            {% endif %}
            <div class="block" name="delete" {% if withoutBonus == 1 %}style="width: 750px;"{% endif %}>
                <div class="block-header">
                    <div class="title">
                        <span class="radio-bt without_bonus"></span>
                                   {{ "lotto_page.without bonus ball"|trans }}
                    </div>
                </div>
                <div class="block-content">
                    <div class="block-overlay"></div>
                    <ul>
                        <li>{% trans with {'%number1%': 1} %}lotto_page.choose{% endtrans %} {{lotto.b1|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 2} %}lotto_page.choose{% endtrans %} {{lotto.b2|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 3} %}lotto_page.choose{% endtrans %} {{lotto.b3|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 4} %}lotto_page.choose{% endtrans %} {{lotto.b4|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                        <li>{% trans with {'%number1%': 5} %}lotto_page.choose{% endtrans %} {{lotto.b5|number_format(0, '.', ',')}} x {{ "lotto_page.stake"|trans }}</li>
                    </ul>
                </div>
                <div class="block-footer"></div>
            </div>
        </div>
        <div id="coupon" style="display: none"></div>
        <h3> {{ "lotto_steps.step2"|trans }}</h3>
        <div class="rates"><!-- rates -->
            <div id="lucky-dips" class="blue-block">
                <div class="title">
                    <div>{{ "lotto_page.lucky dips"|trans }}</div>
                </div>
                <div class="block-content">
                    <div class="balls-g1 balls-3 three_{{lotto.country.code|upper}}" param="3"></div>
                    <div class="balls-g1 balls-4 four_{{lotto.country.code|upper}}" param="4"></div>
                    <div class="balls-g1 balls-5 five_{{lotto.country.code|upper}}" param="5"></div>
                    <a href="#" class="green-bt" id="clear-all">
                                    {{ "lotto_page.clear all"|trans }}
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="select-you-balls" class="blue-block"><!-- select-you-balls -->
                    <div class="title">
                        <div>{{ "lotto_page.select your balls"|trans }}</div>
                    </div>
                    <div class="block-content">
                        <div class="balls-container" id="lottery_balls"><!-- balls-container -->
                                                                            {% for v in range(1, lotto.tottalBalls) %}
                                <a class="ball-item ball all_{{lotto.country.code|upper}}" id="ball-{{ v }}" ball = '{{ v }}'>{{ v }}</a>
                                                                            {% endfor %}
                            </div><!-- .balls-container -->
                            <div class="clear"></div>
                        </div>
                    </div><!-- .select-you-balls -->
                    <div class="clear"></div>
                    
                    <h3> {{ "lotto_steps.step3"|trans }}</h3>
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-straight">{{ "lotto_page.straight bets"|trans }}</a></li>
                            <li><a href="#tabs-multiples">{{ "lotto_page.multiples"|trans }}</a></li>
                        </ul>
                        <div id="tabs-straight">
                            <table class="straight-table lot-table" style="color: white;">
                                <thead>
                                    <tr>
                                        <td>{{ "lotto_page.line"|trans }}</td>
                                        <td>{{ "lotto_page.selections"|trans }}</td>
                                        <td>{{ "lotto_page.stake"|trans }}</td>
                                        <td>{{ "lotto_page.posible win"|trans }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                <div id="cfLottery" class="hidden">
                                    <div id="lottery_bet_form">
                                        <input name="withBonus" type="hidden" value="0"/>
                                    </div>
                                    <input type="hidden" name="b1" value="{{ lotto.b1 }}">
                                    <input type="hidden" name="b2" value="{{ lotto.b2 }}">
                                    <input type="hidden" name="b3" value="{{ lotto.b3 }}">
                                    <input type="hidden" name="b4" value="{{ lotto.b4 }}">
                                    <input type="hidden" name="b5" value="{{ lotto.b5 }}">
                                    <input type="hidden" name="b1b" value="{{ lotto.b1b }}">
                                    <input type="hidden" name="b2b" value="{{ lotto.b2b }}">
                                    <input type="hidden" name="b3b" value="{{ lotto.b3b }}">
                                    <input type="hidden" name="b4b" value="{{ lotto.b4b }}">
                                    <input type="hidden" name="b5b" value="{{ lotto.b5b }}">
                                </div>
                      {% for i in range(0, 7) %}
                                <tr>
                                    <td>
                                        <span class="title4">
                                            <a class="basket_line"><input type="radio" name ='selectionLine' class="styled" value="{{i}}" /></a>
                                            <label class="radio-label">Line {{i+1}}</label>
                                            <em style="display: none;">
                                            </em>
                                        </span>
                                    </td>
                                    <td>
                                    {% for j in range(0,4) %}
                                            <div class="circle ball-item-line" param="bets_{{i}}_{{j}}" id="bets_{{i}}_{{j}}" position="{{j}}"></div>
                                    {% endfor %}
                                        </td>
                                        <td>
                                            <div class="form_data_lottery">
                                         {% for j in range(0,4) %}
                                                    <input type="hidden" name="bets[{{i}}][{{j}}]" id="bets_{{i}}_{{j}}" class="bets" value=""/>
                                        {% endfor %}
                                                    <input type="text" name="betsSums[{{i}}]" id="betsSums_{{i}}" theme="{{i}}"  class="stake_line gray" readonly="true"/>
                                                </div>
                                            </td>
                                            <td><div><input type="text" name="posible_win" readonly="true" class="gray"/></div></td>
                                        </tr>
                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div id="tabs-multiples" url="{{ path('bet_coupon') }}">
                                    <table class="multiples-select">
                                        <thead>
                                            <tr>
                                                <td class="choice">{{ "lotto_page.selections"|trans }}</td>
                                                <td>{{ "lotto_page.bet type"|trans }}</td>
                                                <td>{{ "lotto_page.stake"|trans }}</td>
                                                <td>{{ "lotto_page.bets"|trans }}</td>
                                                <td>{{ "lotto_page.total stake"|trans }}</td>
                                                <td>{{ "lotto_page.posible win"|trans }}</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                            {% for i in range(0, 7) %}
                                                {% set class %}
                                                    {% if i==7 %}
                                                class="multiplice_last"
                                                    {% else %}
                                                    {% endif %}
                                                {% endset %}
                                                <tr {{ class }}>
                                                    <td>
                                                        {% for j in range(0, i) %}
                                                            <div class="circle ball-item-line" param="bets_{{i}}_{{j}}" id="mult_bets_{{i}}_{{j}}" for="{{ j }}" position="{{ j }}"></div>
                                                        {% endfor %}
                                                        </td>
                                                        <td id="td_select_{{ i }}" url="{{ path('reload_select') }}">
                                                            <select name="" id="" class="betInput">
                                                                <option value="0"></option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="form_data_lottery">
                                                          {% for j in range(0, i) %}
                                                                    <input type="hidden" name="bets[{{i}}][{{j}}]" id="bets_{{ i }}_{{j}}" class="bets" value=""/>
                                                           {% endfor %} 
                                                                    <input type="text" name="betsSums[{{i}}]" id="betsSums_mult_{{i}}" class="stake_line gray" readonly="true"/>
                                                                </div>
                                                            </td>
                                                            <td class="count_bets">

                                                            </td>
                                                            <td>
                                                                <div><input type="text" name="total_stake" readonly="true" class="gray total_stake"/></div>
                                                            </td>
                                                            <td class="bet_return">
                                                                <div><input type="text" name="posible_win" readonly="true" class="gray posible_win"/></div>
                                                            </td>
                                                        </tr>
                                {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                        <div class="form-bottom">
                                            <div class="select-fl">
                                                <label for="">{{ "lotto_page.for the next"|trans }}</label>
                                                <select name="" id="cntDrawLottery">
                                        {% for i in range(1,10) %}
                                                        <option value="{{ i }}">{{ i }} {{ "lotto_page.draws"|trans }}</option>
                                        {% endfor %}
                                                    </select>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="tx-fl">
                                                    <label for="">{{ "lotto_page.total stake"|trans }}</label>
                                                    <input type="text" name="" readonly id="totalStakeLottery" value="">
                                                </div>
                                                <div  id="lottoform" token="" class="form-subm">
                                                    <input type="submit" value="{{ "lotto_page.make a bet"|trans }}">
                                                </div>
                                                <div class="clear"></div>
                                            </div>

                                            <div id="dialog-message" title="Message" style="display:none;">
                                                <p>
                                                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                                                    {{ "lotto_page.popup"|trans }}
                                                </p>
                                            </div>
                                            <div id="login" title="Message" style="display:none;">
                                                <p>
                                                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                                                    Зарегистрируйся!
                                                </p>
                                            </div>
                                            
                                            <div id="warning" title="Message" style="display:none;">
                                                <p id="showErrorLottery">
                                                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                                                </p>
                                            </div>

                                        </div><!-- .rates -->
			{% endblock %}
