{% block futures %}
                                <div class="loto-draws block-loto block-blue">
                                        <div class="block-header">
                                                <div class="title-left">
                                                        {%set nextDay = (nextDraws|first).date.format("l")%}
                                                        <h2>{{ nextDay|trans }} Lotto Draws</h2>
                                                        <a href="/hello/lotto/bundle/schedule">Full Schedule »</a>
                                                </div>
                                                <i></i>
                                        </div>
                                        <div class="block-cotent">
                                                <ul>
                                                {% for nextDraw in nextDraws %}
                                                        <li>({{ nextDraw.date|date("H:i") }})  <b>{{ nextDraw.title }}</b> ({{ nextDraw.name }})</li>
                                                {% endfor %}
                                                </ul>
                                                <div class="day">
                                                        {{ nextDay|trans }}
                                                </div>
                                        </div>
                                </div>
{% endblock %}