{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Country list</h1>

    <table class="records_list table table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Imagename</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('type', { 'country': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.imageName }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('country_show', { 'id': entity.id }) }}">{% trans%}show{%endtrans%}</a>
                    </li>
                    <li>
                        <a href="{{ path('country_edit', { 'id': entity.id }) }}">{% trans%}edit{%endtrans%}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {{pagination|raw}}
        <ul>
        <li>
            <a href="{{ path('country_new') }}">
                {% trans%}Create a new entry{%endtrans%}
            </a>
        </li>
    </ul>
    {% endblock %}
