{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Country</h1>

    <table class="record_properties table table-bordered table-hover table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ entity.imageName }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('country') }}">
           {% trans%}Back to the list{%endtrans%}
        </a>
    </li>
    <li>
        <a href="{{ path('country_edit', { 'id': entity.id }) }}">
            {% trans%}Edit{%endtrans%}
        </a>
    </li>
    <li>
        <form action="{{ path('country_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-primary" data-loading-text="Loading...">{% trans%}Delete{%endtrans%}</button>
        </form>
    </li>
</ul>
{% endblock %}
